# PowerShell Files
*.exe
*.dll
*.pdb
*.msi

# Encrypted Files
*.secure

# Temporary Files
*.tmp
*.temp
*_Decrypted/

# Windows Files
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# Package Files
*.zip

# Logs
*.log
logs/

# User-specific files
*.user
*.userosscache
*.sln.docstates
